<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <title>VUE</title>
</head>
<body>
    <div id="app">
        <transition
            name="fade-in-bottom"
            mode="out-in"
        >
            <div class="add-fail-toast" v-if="addTodoFailed">
                <i class="material-icons">
                    error
                </i>
                <span>
                    Input cannot be empty.
                </span>
            </div>
        </transition>
        <h1>Vue ToDo</h1>
        <form v-on:submit.prevent="" class="form">
            <input v-model="todoInput" placeholder="What needs to be done?" autofocus>
            <button @click="addTodo" class="button-cta">
                <transition-group
                    name="rotate-icon"
                    mode="out-in"
                    class="button-animated"
                >
                    <i v-if="!addingTodo" class="material-icons icon-stacked-large" :key="'isAdding'">
                        add_circle
                    </i>
                    <i v-if="addingTodo" class="material-icons icon-stacked-large" :key="'isNotAdding'">
                        check_circle
                    </i>
                </transition-group>
            </button>
        </form>
        <transition-group name="slide-fade" mode="out-in" tag="div" class="todo-list">
            <div
                v-for="(todo, index) in todos"
                :key="todo.id"
                class="todo-list-item"
            >
                <span :class="{ 'todo-list-item-complete': todo.isCompleted }">
                    {{ todo.text }}
                </span>
                <div class="todo-list-item-toolbar">
                    <button @click="toggleComplete(todo.id)" class="button-complete">
                        <transition-group
                            name="toggle-icon"
                            mode="out-in"
                            class="button-animated"
                        >
                            <i v-if="todo.isCompleted" class="material-icons icon-stacked-small" :key="'isComplete'">
                                check_box
                            </i>
                            <i v-if="!todo.isCompleted" class="material-icons icon-stacked-small" :key="'isNotComplete'">
                                check_box_outline_blank
                            </i>
                        </transition-group>
                    </button>
                    <button @click="removeTodo(todo.id)" class="button-remove">
                            <i class="material-icons">
                                delete_forever
                            </i>
                    </button>
                </div>
            </div>
        </transition-group>
        <footer>
            {{ message }}
        </footer>
    </div>
</body>
<script src="./index.js"></script>
</html>