@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Caveat|Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
    margin: 0;
}

/* Components */
h1 {
    font-family: 'Abril Fatface';
    font-size: 4em;
}

button {
    cursor: pointer;
}

button:focus, input:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Classes */
.form {
    display: flex;
    justify-content: center;
    width: 60%;
}

.form input {
    flex: 1;
    font-family: 'Caveat';
    font-size: 2em;
    padding: 4px;
    border: 0;
    border-bottom: 1px dotted #999;
    margin-right: 16px;
}

.button-cta {
    border: 0;
    margin: 0;
    color: cornflowerblue;
}

.button-cta i {
    font-size: 4.1em;
}

.todo-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}

.todo-list-item {
    width: calc(100% - 10px); /* 100% minus padding times two */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-family: 'Caveat';
    font-size: 1.5em;
}

.todo-list-item:nth-child(odd) {
    background-color: #eee;
}

.todo-list-item:nth-child(even) {
    background-color: #fefefe;
}

.todo-list-item-complete {
    text-decoration: line-through;
}

.todo-list-item-toolbar {
    height: 30px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button-remove {
    color: red;
    border: 0px;
    background-color: transparent;
}

.button-animated {
    position: relative;
    height: 24px;
    width: 24px;
}

.icon-stacked {
    position: absolute;
    height: 24px;
    width: 24px;
    top: -12px;
    left: -12px;
}

.button-complete {
    color: green;
    border: 0px;
    background-color: transparent;
}

/* Animations */
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

.toggle-icon-enter-active {
    transition: all .3s ease;
}
.toggle-icon-leave-active {
    transition: all .3s ease;
}
.toggle-icon-enter, .toggle-icon-leave-to {
    opacity: 0;
}